# Torch / Vision from official PyTorch wheels
-f https://download.pytorch.org/whl/torch_stable.html
--trusted-host download.pytorch.org

Flask==3.0.3
jsonpickle==3.0.4
mediapipe==0.10.20
numpy==1.26.4
onnxruntime==1.19.2
opencv-python==4.10.0.84
pandas==2.2.3
python-dotenv==1.0.1
Pillow==10.4.0
requests==2.32.3
torch==2.3.1+cpu
torchvision==0.18.1+cpu
tqdm==4.66.5
protobuf==4.25.8
progressbar2==4.5.0